/* Extra Small Devices, Phones */
@media only screen and (min-width : 300px) and (max-width : 767px) {

  body {
    background-color: #CDCDCD;
    font-family: "Raleway", sans-serif;
  }

  h1, h2, h3 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 32px;
  }

  #profilePicture {
    height: auto;
    width: 80%;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 5%;
  }

  #image {
    text-align: center;
  }

  .fa-github, .fa-linkedin-square, .fa-medium, .fa-envelope-o {
    color: #FFFFFF;
    padding: 15px;
  }

  .socialMedia {
    text-align: center;
    padding-bottom: 5%;
  }

  #aboutContainer {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
  }

  .div1 {
    background: radial-gradient(#A8A8A8, #55AEEF);
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px 25px 0 0;
  }

  .div3 {
    background: radial-gradient(#2176AE, #1a537a);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }

  .div4 {
    background: radial-gradient(#1a537a, #0F3149);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 0 0 25px 25px;
  }

  img {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 90%;
    height: 190px;
    margin-top: 5%;
  }

  #swimspot img, #loqal img, #xpndbl img {
    margin-bottom: 5%;
  }

  p {
    color: #FFFFFF;
  }

  .skills li {
    color: #FFFFFF;
  }

  ul {
    padding-bottom: 10%;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

  #projectContainer {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
    text-align: center;
  }

  .app-description {
    padding: 5%;
    text-align: left;
  }

  #blogContainer {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
  }

  #blog1 a h3, #blog2 a h3, #blog3 a h3, #blog4 a h3, #blog5 a h3 {
    font-size: 18px;
  }

  #resumeContainer {
    text-align: center;
    padding-bottom: 5%;
  }

  #resumePicture {
    width: 80%;
    height: 60%;
  }

  a, p a, a:link, p a:link {
    color: #343A1A;
    font-weight: bold;
  }

  a:hover, p a:hover {
    text-decoration: none;
  }

  .app-links {
    display: block;
  }

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  body {
    background-color: #CDCDCD;
    font-family: "Raleway", sans-serif;
  }

  h1, h2, h3 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 32px;
  }

  #profilePicture {
    height: auto;
    width: 80%;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 5%;
  }

  #image {
    text-align: center;
  }

  .fa-github, .fa-linkedin-square, .fa-medium, .fa-envelope-o {
    color: #FFFFFF;
    padding: 15px;
  }

  .socialMedia {
    text-align: center;
    padding-bottom: 5%;
  }

  #aboutContainer {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
  }

  .div1 {
    background: radial-gradient(#A8A8A8, #55AEEF);
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px 25px 0 0;
  }

  .div3 {
    background: radial-gradient(#2176AE, #1a537a);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }

  .div4 {
    background: radial-gradient(#1a537a, #0F3149);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 0 0 25px 25px;
  }

  img {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 90%;
    height: 250px;
    margin-top: 5%;
  }

  #swimspot img, #loqal img, #xpndbl img {
    margin-bottom: 5%;
  }

  p {
    color: #FFFFFF;
  }

  .skills li {
    color: #FFFFFF;
  }

  ul {
    padding-bottom: 10%;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

  #projectContainer {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
    text-align: center;
  }

  .app-description {
    padding: 5%;
    text-align: left;
  }

  #blogContainer {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
  }

  #blog1 a h3, #blog2 a h3, #blog3 a h3, #blog4 a h3, #blog5 a h3 {
    font-size: 20px;
  }

  #resumeContainer {
    text-align: center;
    padding-bottom: 5%;
  }

  #resumePicture {
    width: 400px;
    height: 480px;
  }

  a, p a, a:link, p a:link {
    color: #343A1A;
    font-weight: bold;
  }

  a:hover, p a:hover {
    text-decoration: none;
  }

  .app-links {
    display: block;
  }


}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1349px) {

  body {
    background-color: #CDCDCD;
    font-family: "Raleway", sans-serif;
  }

  h1, h2, h3 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
  }

  h1 {
    padding-top: 35%;
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    color: #FFFFFF;
  }

 .skills li {
   color: #FFFFFF;
   font-size: 16px;
   padding-bottom: 10%;
 }

 #skillSet {
   width: 80%;
   padding-left: 15%;
   text-align: left;

 }

  #aboutContainer {
    width: 60%;
    padding: 10px;
    display: inline-block;
  }

  #image, #swimspot, #loqal, #xpndbl, #resumeContainer {
    text-align: center;
  }


  #swimspot, #loqal, #xpndbl {
    width: 30%;
    padding-bottom: 50px;
    display: table-cell;
  }


  #profilePicture {
    height: auto;
    width: 80%;
  }

  #image{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-top: 40px;
  }

  #resumePicture {
    width: 400px;
    height: 480px;
  }


  img {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 90%;
    height: 150px;
  }

  #swimspot img, #loqal img, #xpndbl img {
    margin-bottom: 5%;
  }

  #resumeContainer {
    padding-bottom: 35px;
  }


  #projectContainer {
    display: table;
    table-layout: fixed;
    width: 64.5%;
    display: inline-block;
  }


  .fa-github, .fa-linkedin-square, .fa-medium, .fa-envelope-o {
    color: #FFFFFF;
    padding: 15px;
  }

  .socialMedia {
    text-align: center;
    padding-bottom: 5%;
  }

  a, p a, a:link, p a:link {
    color: #343A1A;
    font-weight: bold;
  }

  a:hover, p a:hover {
    text-decoration: none;
  }

  .app-description {
    width: 60%;
    text-align: left;
    margin: 0 auto;
  }

  .div1 {
    background: radial-gradient(#A8A8A8, #55AEEF);
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px 25px 0 0;
  }

  .div3 {
    background: radial-gradient(#2176AE, #1a537a);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }

  .div4 {
    background: radial-gradient(#1a537a, #0F3149);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 0 0 25px 25px;
  }

  #blogContainer {
    text-align: center;
  }

  #blogText {
    width: 40%;
    margin: 0 auto;
  }

  #blog1, #blog2, #blog3 {
    padding-bottom: 10px;
    text-align: center;
  }

  #blog1 a h3, #blog2 a h3, #blog3 a h3, #blog4 a h3, #blog5 a h3 {
    font-size: 22px;
  }

  .app-links {
    display: block;
  }

}



/* Large Devices, Wide Screens */
@media only screen and (min-width: 1350px) {

  body {
    background-color: #CDCDCD;
    font-family: "Raleway", sans-serif;
  }


  h1, h2, h3 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
  }

  h1 {
    padding-top: 5%;
    font-size: 36px;
  }


  p {
    color: #FFFFFF;
  }

  .skills li {
    color: #FFFFFF;
    font-size: 16px;
    padding-bottom: 10%;
  }

  #skillSet {
    width: 80%;
    padding-left: 15%;
    text-align: left;

  }


  #image, #swimspot, #loqal, #xpndbl, #resumeContainer {
    text-align: center;
  }


  #swimspot, #loqal, #xpndbl {
    width: 30%;
    padding-bottom: 50px;
    display: table-cell;
  }


  #profilePicture {
    height: auto;
    width: 80%;
  }

  #image{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-top: 40px;
  }

  #resumePicture {
    width: 400px;
    height: 480px;
  }


  img {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 90%;
    height: 210px;
  }

  #swimspot img, #loqal img, #xpndbl img {
    margin-bottom: 5%;
  }


  .socialMedia {
    text-align: center;
    padding-bottom: 5%;
  }


  #resumeContainer {
    padding-bottom: 35px;
  }


  #projectContainer {
    display: table;
    table-layout: fixed;
    width: 64.5%;
    display: inline-block;
  }


  .fa-github, .fa-linkedin-square, .fa-medium, .fa-envelope-o {
    color: #FFFFFF;
    padding: 15px;
  }

  a, p a, a:link, p a:link {
    color: #343A1A;
    font-weight: bold;
  }

  a:hover, p a:hover {
    text-decoration: none;
  }

  .app-description {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
  }

  .div1 {
    background: radial-gradient(#A8A8A8, #55AEEF);
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px 25px 0 0;
    padding-bottom: 1%;
  }

  .div3 {
    background: radial-gradient(#55AEEF, #1a537a);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 1%;
  }

  .div4 {
    background: radial-gradient(#1a537a, #0F3149);
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 0 0 25px 25px;
    padding-bottom: 1%;
    height: 725px;
    margin-bottom: 50px;
  }

  #blogContainer {
    text-align: center;
    padding-bottom: 1%;
  }

  #blogText {
    width: 40%;
    margin: 0 auto;
  }

  #blog1, #blog2, #blog3 {
    text-align: center;
    padding-bottom: 1%;
  }

  #blog1 a h3, #blog2 a h3, #blog3 a h3, #blog4 a h3, #blog5 a h3 {
    font-size: 24px;
  }

  .app-links {
    display: block;
  }
}
